Source: freegemas
Section: games
Priority: optional
Maintainer: Guillermo Gutiérrez <guillermo@gutierrez.dev>
Build-Depends: debhelper-compat (= 12), libdebhelper-perl,
 libsdl2-dev, libsdl2-image-dev, libsdl2-mixer-dev, libsdl2-ttf-dev
Standards-Version: 4.4.1
Homepage: https://github.com/JoseTomasTocino/freegemas
Vcs-Browser: https://github.com/JoseTomasTocino/freegemas
Vcs-Git: https://github.com/JoseTomasTocino/freegemas.git

Package: freegemas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open source version of the well known Bejeweled
 Freegemas is an open source version of the well known
 Bejeweled, for GNU/Linux and Windows.
 It's written in C++ using SDL2.
